.p-2 {
    width:50%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background: linear-gradient(
        to right,
        #bff0ff 0%,
        #bff0ff 50%,
        #ffffff 50%,
        #ffffff 100%
    )
}

.bio {
    text-align: left;
}

h1 {
    font-size: 50px;
}

.bio {
    padding-left: 5%;
}

p{
    font-size: 14px;
}
img {
    width: 80%;
    margin-left: 8%;
}

.profile {
    background: linear-gradient(
        to right,
        #e8f7fc 0%,
        #e8f7fc 50%,
        #ffffff 50%,
        #ffffff 100%
    );
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-top: 10%;
    height: 70%
}