nav {
    font-weight: 400;
}
.navbar-brand {
    font-weight: 500;
}
.nav-item:hover {
    background-color: lightgray;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background: #bff0ff
}

div.wholebody {
    min-height: 75vh;
}