nav {
    font-weight: 400;
}
.navbar-brand {
    font-weight: 500;
}
.nav-item:hover {
    background-color: lightgray;
}

body {
    position:relative;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background: linear-gradient(
        to bottom,
        #273a63 0%,
        #5a898c 80%
    );
}

div.wholebody {
    min-height: 90vh;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width:768px) {
    h4.footer {
        font-size: 16px;
    }
    h6.footer {
        font-size: 14px;
    }
    p.footer {
        font-size: 12px;
    }
}

.star {
    position: absolute;
    background: #fff;
    animation: twinkle 4s infinite;
    z-index: -1;
    overflow: hidden;
  }

.stars2 {
    animation-delay: -1.32s;
}

.stars3 {
    animation-delay: -2.64s;
}
@keyframes twinkle {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.8;
    }
}
.stars:nth-child(3n) {
    opacity: 0.8;
}
.stars:nth-child(7n) {
    opacity: 0.6;
}
.stars:nth-child(13n) {
    opacity: 0.4;
}
.stars:nth-child(19n) {
    opacity: 0.2;
}