nav {
    font-weight: 400;
}
.navbar-brand {
    font-weight: 500;
}
.nav-item:hover {
    background-color: lightgray;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background: #bff0ff
}

div.wholebody {
    min-height: 90vh;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width:768px) {
    h4.footer {
        font-size: 16px;
    }
    h6.footer {
        font-size: 14px;
    }
    p.footer {
        font-size: 12px;
    }
}