div.mainbody {
    background-color: white;
    padding: 10px;
    width: 90%;
}
div.inputs {
    padding-top:20px
}

div.head {
    border-right: 1px solid darkblue;
    width: 40%
}

p {
    font-size: 12px;
}